config OWNTECH_HARDWARE_CONFIGURATION
	bool "Enable OwnTech hardware configuration module"
	default y
	depends on OWNTECH_ADC_DRIVER
	depends on OWNTECH_DAC_DRIVER
	depends on OWNTECH_HRTIM_DRIVER
	depends on OWNTECH_NGND_DRIVER
	depends on OWNTECH_TIMER_DRIVER
	depends on OWNTECH_GPIO_API
	depends on OWNTECH_COMPARATOR_DRIVER
