config OWNTECH_SCHEDULING
	bool "Enable OwnTech scheduling"
	default y
	depends on OWNTECH_TIMER_DRIVER
	depends on OWNTECH_HRTIM_DRIVER
	depends on OWNTECH_DATA_ACQUISITION

if OWNTECH_SCHEDULING

	config OWNTECH_SCHEDULING_ENABLE_ASYNCHRONOUS_TASKS
		bool "Enable support for asychronous tasks"
		help
			Asynchronous tasks are run in background when no synchronous task is running.
		default y

	config OWNTECH_SCHEDULING_MAX_ASYNCHRONOUS_TASKS
		int "Maximum number of asychronous tasks"
		help
			The higher this value, the more RAM will be reserved for tasks and unavailable to the main program.
		default 3
		range 1 5

	config OWNTECH_SCHEDULING_ASYNCHRONOUS_TASKS_STACK_SIZE
		int "Stack size for asynchronous threads"
		default 512

endif
