config OWNTECH_SPIN_API
	bool "Enable OwnTech Spin API"
	default y
	depends on OWNTECH_ADC_DRIVER
	depends on OWNTECH_DAC_DRIVER
	depends on OWNTECH_HRTIM_DRIVER
	depends on OWNTECH_TIMER_DRIVER
	depends on OWNTECH_COMPARATOR_DRIVER
	depends on CONSOLE_GETCHAR
	depends on OWNTECH_FLASH
	help
		The SPIN API is a module that aggregates all the drivers of
		the STM32G474RE of the Spin board within a single object.
		This abstracts base drivers by providing an object-based,
		user-friendly API.

if OWNTECH_SPIN_API

	config OWNTECH_GPIO_API
		bool "Enables the OwnTech GPIO API integrated with the Spin Board"
		default y
		depends on OWNTECH_SPIN_API
		help
			The GPIO API provides ways to interact with Spin
			GPIO by referencing them by their name, either
			by using Spin nexus or STM32-style names.

	config OWNTECH_UART_API
	bool "Enable OwnTech UART API"
	default n
	help
		The UART API is a module that aggregates basic UART functionality
		for shields that supports it.

endif