# Copyright (c) 2023 OwnTech
# SPDX-License-Identifier: LGPL-2.1

config SHIELD_OWNVERTER
	def_bool $(shields_list_contains,ownverter_v1_1_0) || \
			 $(shields_list_contains,ownverter_v1_0_0) || \
			 $(shields_list_contains,ownverter_v0_9_0) || \
			 $(shields_list_contains,ownverter)
