config OWNTECH_DATA_ACQUISITION
	bool "Enable OwnTech data acquisition using ADCs"
	default y
	select DMA
	depends on CONSOLE_GETCHAR
	depends on OWNTECH_HARDWARE_CONFIGURATION
	help
		Data Acquisition is an OwnTech Power API module that provides
		means of automatically gathering data from Spin board ADCs.
		It also interfaces with the Twist shield, providing	ways to
		interact with the sensors available on the shield and converting
		raw data in their relevant unit.
