/*
 * Copyright (c) 2022 OwnTech.
 *
 * SPDX-License-Identifier: LGPL-2.1
 */

 / {
	ngnd: ngnd-switch {
		compatible = "gpio-device";
		ngnd-gpio-pin {
			gpios = <&gpiob 11 GPIO_ACTIVE_HIGH>;
		};
	};
};
