/*
 * Copyright (c) 2024 OwnTech.
 *
 * SPDX-License-Identifier: LGPL-2.1
 */

/ {
	twist-safety-thresholds {

		/* Voltage thresholds */

		v1lowtd: v1-low-td {
			compatible = "safety-thresholds";
			sensor-name = "V1_LOW";
			threshold-name = "V1_LOW_TD";
			threshold-high = <0x428c0000>; /* 70.0 */
			threshold-low = <0xc1200000>; /* -10.0 */
		};

		v2lowtd: v2-low-td {
			compatible = "safety-thresholds";
			sensor-name = "V2_LOW";
			threshold-name = "V2_LOW_TD";
			threshold-high = <0x428c0000>; /* 70.0 */
			threshold-low = <0xc1200000>; /* -10.0 */
		};

		vhightd: v-high-td {
			compatible = "safety-thresholds";
			sensor-name = "V_HIGH";
			threshold-name = "V_HIGH_TD";
			threshold-high = <0x42c80000>; /* 100.0 */
			threshold-low = <0x41200000>; /* 10.0 */
		};

		/* Current thresholds */

		i1lowtd: i1-low-td {
			compatible = "safety-thresholds";
			sensor-name = "I1_LOW";
			threshold-name = "I1_LOW_TD";
			threshold-high = <0x40e00000>; /* 7.0 */
			threshold-low = <0xc0e00000>; /* -7.0 */
		};

		i2lowtd: i2-low-td {
			compatible = "safety-thresholds";
			sensor-name = "I2_LOW";
			threshold-name = "I2_LOW_TD";
			threshold-high = <0x40e00000>; /* 7.0 */
			threshold-low = <0xc0e00000>; /* -7.0 */
		};

		ihightd: i-high-td {
			compatible = "safety-thresholds";
			sensor-name = "I_HIGH";
			threshold-name = "I_HIGH_TD";
			threshold-high = <0x40e00000>; /* 7.0 */
			threshold-low = <0xc0e00000>; /* -7.0 */
		};

		/* Other channels thresholds */

		temptd: temp-sensor-td {
			compatible = "safety-thresholds";
			sensor-name = "TEMP_SENSOR";
			threshold-name = "TEMP_SENSOR_TD";
			threshold-high = <0x00000000>;
			threshold-low = <0x00000000>;
		};

		extratd: extra-sensor-td {
			compatible = "safety-thresholds";
			sensor-name = "EXTRA_MEAS";
			threshold-name = "EXTRA_MEAS_TD";
			threshold-high = <0x00000000>;
			threshold-low = <0x00000000>;
		};

		analogtd: analog-comm-td {
			compatible = "safety-thresholds";
			sensor-name = "ANALOG_COMM";
			threshold-name = "ANALOG_COMM_TD";
			threshold-high = <0x00000000>;
			threshold-low = <0x00000000>;
		};
	};
};
