/*
 * Copyright (c) 2022-2024 OwnTech.
 *
 * SPDX-License-Identifier: LGPL-2.1
 */

/ {
	twist-sensors {

		/* Voltage sensors */

		v1low: v1-low {
			compatible = "shield-sensors";
			sensor-name = "V1_LOW";
			default-gain = <0x3d3851ec>;
			default-offset = <0xc2b867f0>;
			spin-pin = <29>;
			v1-low-adc1 {
				io-channels = <&adc1 1>;
			};
			v1-low-adc2 {
				io-channels = <&adc2 1>;
			};
		};

		v2low: v2-low {
			compatible = "shield-sensors";
			sensor-name = "V2_LOW";
			default-gain = <0x3d3851ec>;
			default-offset = <0xc2b867f0>;
			spin-pin = <24>;
			v2-low-adc1 {
				io-channels = <&adc1 6>;
			};
			v2-low-adc2 {
				io-channels = <&adc2 6>;
			};
		};

		vhigh: v-high {
			compatible = "shield-sensors";
			sensor-name = "V_HIGH";
			default-gain = <0x3cf57710>;
			default-offset = <0x00000000>;
			spin-pin = <27>;
			v-high-adc1 {
				io-channels = <&adc1 9>;
			};
			v-high-adc2 {
				io-channels = <&adc2 9>;
			};
		};

		/* Current sensors */

		i1low: i1-low {
			compatible = "shield-sensors";
			sensor-name = "I1_LOW";
			default-gain = <0x3ba3d70a>;
			default-offset = <0xc1200000>;
			spin-pin = <30>;
			i1-low-adc1 {
				io-channels = <&adc1 2>;
			};
			i1-low-adc2 {
				io-channels = <&adc2 2>;
			};
		};

		i2low: i2-low {
			compatible = "shield-sensors";
			sensor-name = "I2_LOW";
			default-gain = <0x3ba3d70a>;
			default-offset = <0xc1200000>;
			spin-pin = <25>;
			i2-low-adc1 {
				io-channels = <&adc1 7>;
			};
			i2-low-adc2 {
				io-channels = <&adc2 7>;
			};
		};

		ihigh: i-high {
			compatible = "shield-sensors";
			sensor-name = "I_HIGH";
			default-gain = <0x3ba3d70a>;
			default-offset = <0xc1200000>;
			spin-pin = <26>;
			i-high-adc1 {
				io-channels = <&adc1 8>;
			};
			i-high-adc2 {
				io-channels = <&adc2 8>;
			};
		};

		/* Other sensors */

		temp: temp-sensor {
			compatible = "shield-sensors";
			sensor-name = "TEMP_SENSOR";
			default-gain = <0x3f800000>;
			default-offset = <0x00000000>;
			spin-pin = <31>;
			temp-sensor-adc3 {
				io-channels = <&adc3 12>;
			};
		};

		extra: extra-sensor {
			compatible = "shield-sensors";
			sensor-name = "EXTRA_MEAS";
			default-gain = <0x3f800000>;
			default-offset = <0x00000000>;
			spin-pin = <6>;
			analog-comm-adc4 {
				io-channels = <&adc4 5>;
			};
		};

		analog: analog-comm {
			compatible = "shield-sensors";
			sensor-name = "ANALOG_COMM";
			default-gain = <0x3f800000>;
			default-offset = <0x00000000>;
			spin-pin = <35>;
			extra-sensor-adc2 {
				io-channels = <&adc2 5>;
			};
		};
	};
};
