config OWNTECH_DAC_DRIVER
	bool "Enable OwnTech DAC driver"
	default y
	depends on !DAC
	help
		This module implements an ad-hoc DAC driver for Zephyr that
		provides features required by OwnTech Power API.
		It replaces Zephyr's default DAC module in Power API.
